// == START OF FEATURES 02 ==
.features.features--02
	.container
		.features__title_box.features__title_box--02
			h2.features__title--02
				| Our Services
			span.features__description.features__description--02
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione similique nisi officiis, nam, molestiae.
	.container
		.row.features__row
			.col-xs-12.col-md-6.col-lg-3.features__item.features__item--02
				.features__item_icon_circle.features__item_icon_circle--02.features__item_icon_circle--play-icon--blue
				h3.features__item_title
					| veniam doloremque
				span.features__item_text
					| Facere ab optio dignissimos, quae soluta doloribus saepe id beatae adipisci, libero corporis.
			.col-xs-12.col-md-6.col-lg-3.features__item.features__item--02
				.features__item_icon_circle.features__item_icon_circle--02.features__item_icon_circle--trophy-icon--blue
				h3.features__item_title
					| Temporibus Itaque
				span.features__item_text
					| Voluptatum maiores voluptates doloremque soluta excepturi asperiores, sed exercitationem.
			.col-xs-12.col-md-6.col-lg-3.features__item.features__item--02
				.features__item_icon_circle.features__item_icon_circle--02.features__item_icon_circle--code-icon--blue
				h3.features__item_title
					| Harum Quae 
				span.features__item_text
					| Quidem illum quod perferendis est nesciunt quas fugit sapiente rerum laborum.
			.col-xs-12.col-md-6.col-lg-3.features__item.features__item--02
				.features__item_icon_circle.features__item_icon_circle--02.features__item_icon_circle--star-icon--blue
				h3.features__item_title
					| Tempore veniam
				span.features__item_text
					| Doloremque nemo eveniet sunt delectus fuga placeat provident perspiciatis, consequuntur odio est.
// == END OF FEATURES 02 ==
