// == START OF DESKTOP MENU 01 (this menu is opened on burger tap: both in desktops and in mobiles) ==
nav.menu.menu--01--desktop.js-menu(data-menu-index="01--desktop")
	.menu__container
		button.menu__closer.js-close-menu(type="button")
			| close
		.menu__box
			h3.menu__title
				| menu
			ul.menu__list
				li.menu__item
					a.menu__link(href="#")
						| About
				//- li.menu__item
				//- 	a.menu__link(href="#")
				//- 		| Team
				//- li.menu__item
				//- 	a.menu__link(href="#")
				//- 		| Pricing
				//- li.menu__item
				//- 	a.menu__link(href="#")
				//- 		| Press
				li.menu__item
					a.menu__link(href="#")
						| Contact
			a.menu__phone_link(href="tel:1337 993 399")
				| 1337 993 399
			h3.menu__title
				| Hello
			p.menu__about_text
				| We are dolor sit amet, consectetur adipisicing elit. Accusamus voluptate cumque deleniti labore laborum. Ratione illo, tempore itaque nam vero, accusamus commodi ullam debitis iure eveniet, unde soluta fugit dolore?
// == END OF DESKTOP MENU 01 (this menu is opened on burger tap: both in desktops and in mobiles) ==
