// == START OF ABOUT 03 ==
.about.about--03(style="background-image: url(img/bg/bg--el-4.jpg)")
	.container
		.row.about__row.about_row--03
			.col-xs-12.contacts_info_column--01
				.contacts__info--01
					h2.contacts__title.contacts__title--01
						| Say Hello
					.contacts__content--01
						.contacts__item
							h3.contacts__item_title
								| Address
							span.contacts__item_text
								| 123 El Paso St.
								br
								| Suite 4
								br
								| El Paso, TX, 78741
						.contacts__item
							h3.contacts__item_title
								| Phone
							span.contacts__item_text
								| +1 512 234-5678
						.contacts__item
							h3.contacts__item_title
								| email
							a.contacts__item_text(href="mailto:hello@tech-mex.io", target="_blank")
								| hello@tech-mex.io
				ul.social
					li.contacts__social_item--01.social__item
						a.social__link.social__link--rounded.social__link--twitter--black(href="https://twitter.com/", target="_blank")
					li.contacts__social_item--01.social__item
						a.social__link.social__link--rounded.social__link--facebook--black(href="https://www.facebook.com/", target="_blank")
					li.contacts__social_item--01.social__item
						a.social__link.social__link--rounded.social__link--g_plus--black(href="https://www.behance.net/", target="_blank")
			//- .col-xs-12
			//- 	.about_content_box.about_content_box--03
			//- 		h2.about__title
			//- 			| Modern technologies
			//- 		span.about__text
			//- 			| Our UI/UX researches helped to figure out that the perfect way to charm audience is to keep things clean and simple as much as possible.
			//- 		a.button.button--blue.button--blue-shadow(href="#")
			//- 			| try NOW
// == END OF ABOUT 03 ==
