// == START OF COVER 13 ==
.cover.cover--13.js-cover(style="background-image: url(img/bg/bg--el-paso-2.jpg)")
	//- include ../headers/15
	.container
		.cover__content_box.cover__content_box--13.animated
			img(src="img/etc/tech-mex-logo.svg", alt="Tech-Mex.io").logo.animation.fade-in-up-big
			h1.cover__title.cover__title--13.animation.fade-in-up.delay-4
				span.cover__title_text.cover__title_text--13.animation.fade-in-up.delay-5
					| Web Development 
					span.cover__title_text__accent_word
						| &amp;
					|  Design
			.cover__description_box--13
				h2.p.cover__description_text--13.animation.fade-in-up.delay-6
					| Tech-Mex provides modern Web Design &amp; Development for artists, small businesses and other good people.
					br
				p.cover__description_text--13.animation.fade-in-up.delay-7 El Paso &bull; Laredo &bull; Austin

				br

				a.cover__button--03.button.button--arrow-down.js-scroll-fullscreen.animation.fade-in-up.delay-8(href="#")
			//- h2.cover__title.cover__title--13
			//- 	span.cover__title_text.cover__title_text--13
			//- 		| Your most&#8287;
			//- 		span.cover__title_text__accent_word
			//- 			| exciting&#8287;
			//- 		| journey&#8287;
			//- 		br
			//- 		| begins&#8287;
			//- 		span.cover__title_text__accent_word
			//- 			| here
			//- .cover__description_box--13
			//- 	span.cover__description_text--13
			//- 		| Who can experience the living and thought of a self if he has the superior shame of the doer.
			//- form.cover__form--13(action="", method="POST")
			//- 	input.cover__form__item--13.input.input--gray(type="text", placeholder="Your name")
			//- 	input.cover__form__item--13.input.input--gray(type="email", placeholder="Your email", required)
			//- 	input.cover__form__item--13.input.input--gray(type="password", placeholder="Password", required)
			//- 	button.cover__form__item--13.button.button--blue(type="submit")
			//- 		| be first
			//- span.cover__text--13
			//- 	| or sign up with
			//- ul.social
			//- 	li.cover__social_item--13.social__item
			//- 		a.cover__social_link--13.social__link.social__link--rounded.social__link--twitter(href="#")
			//- 	li.cover__social_item--13.social__item
			//- 		a.cover__social_link--13.social__link.social__link--rounded.social__link--facebook(href="#")
			//- 	li.cover__social_item--13.social__item
			//- 		a.cover__social_link--13.social__link.social__link--rounded.social__link--g_plus(href="#")
// == END OF COVER 13 ==
