// == START OF COVER 18 ==
.cover.cover--18.js-cover
	//- include ../headers/13
	.cover__pic_box--18
		img.cover__img--18(src="img/pictures/pic--macbook-silver.png")
	.container.cover__container--18
		.cover__text_box--18
			h2.cover__title--18
				p.cover__title_text--18
					| We design and build 
					br
					| tools for your business
			.cover__description_box--18
				p.cover__description_text--18
					| From beautifully designed Web sites to
					| full business applications, porro eos molestiae, incidunt voluptates et.
			.row
				.col-xs-12.col-md-6.cover__feature--18
					h3.cover__feature_title
						| Lorem ipsum
					p.cover__feature_text
						| dolor sit amet, consectetur adipisicing elit. Laboriosam quod sit iusto omnis, delectus autem
				.col-xs-12.col-md-6.cover__feature--18
					h3.cover__feature_title
						| Quibusdam molestias
					p.cover__feature_text
						| deleniti nulla unde vitae, aspernatur, ipsa iure earum magnam porro eum. Quibusdam molestias quaerat rem.
// == END OF COVER 18 ==
